<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@3.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Iframe Test Tool</title>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
</head>
<body>
    <noscript>
        <strong>We're sorry but this app doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>

    <div id="app">
    <v-app>
        <v-app-bar height="56" max-height="56">
            <v-toolbar-title class="headline hidden-md-and-down mr-5">
                <span class="font-weight-light">Iframe Test</span>
            </v-toolbar-title>
            <v-row align-center fill-height>
                <v-col xs="12" mr-3>
                    <v-text-field
                        class="pt-0"
                        type="url"
                        v-model="url"
                        label="https://..."
                        required
                        single-line
                        clearable
                        hide-details
                    ></v-text-field>
                </v-col>
                <v-col lg="1" md="2" sm="3" class="mr-3 hidden-xs-only text-align-middle">
                    <v-combobox
                        class="pt-0"
                        v-model="width"
                        label= "Width"
                        single-line
                        :items="sizes.width"
                        hide-details
                        hide-selected
                    />
                </v-col>
                <v-col lg="1" md="2" sm="3" class="mr-3 hidden-xs-only">
                    <v-combobox
                        class="pt-0"
                        class="text-align-middle"
                        v-model="height"
                        label= "Height"
                        single-line
                        :items="sizes.height"
                        hide-details
                        hide-selected
                    />
                </v-col>
                <v-col shrink hidden-md-and-down>
                    <v-btn
                        color="primary"
                        v-on:click="copyLink"
                    >
                        <span>Copy</span>
                    </v-btn>
                </v-col>
                <v-col shrink hidden-sm-and-down>
                    <v-btn
                        color="primary"
                        target="_blank"
                        :href="url"
                    >
                        <span>Open in new tab</span>
                    </v-btn>
                </v-col>
            </v-row>
        </v-app-bar>

        <v-content>
            <v-row text-xs-center wrap mt-4>
                <v-col xs12>
                    <iframe
                        v-if="url"
                        :src="url"
                        :width="width"
                        :height="height"
                        frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen
                        style="max-width: 100%; max-height: 100%;"
                    >
                    </iframe>
                    <h2 v-else class="title grey--text text--lighten-1"><br><br>Please enter a URL to iframe above</h2>
                </v-col>
            </v-row>
        </v-content>
        
    </v-app>
    </div>

    <script>
        function copyStringToClipboard (str) {
            // Create new element
            var el = document.createElement('textarea');
            // Set value (string to be copied)
            el.value = str;
            // Set non-editable to avoid focus and move outside of view
            el.setAttribute('readonly', '');
            el.style = {position: 'absolute', left: '-9999px'};
            document.body.appendChild(el);
            // Select text inside element
            el.select();
            // Copy text to clipboard
            document.execCommand('copy');
            // Remove temporary element
            document.body.removeChild(el);
        }

        new Vue({
            el: '#app',
            vuetify: new Vuetify(),
            data: () => ({
              url: "",
              sizes: {
                width: [1024, 600, 300],
                height: [768, 300, 600]
              }
            }),
            watch: {
                url: (value) => {
                    localStorage.setItem('iframeTestUrl', value);
                }
            },
            methods: {
                copyLink: function() {
                    copyStringToClipboard(window.location.href.split('?')[0]+'?url='+this.url);
                }
            },
            created: function() {
                var url = new URLSearchParams(window.location.search).get('url') || localStorage.getItem('iframeTestUrl');
                this.url = url !== null ? url : '';
            },
            props: {
                width: {
                    default: 1024,
                    type: Number
                },
                height: {
                    default: 600,
                    type: Number
                }
            }
        })
    </script>
</body>
</html>
